@import url('https://fonts.googleapis.com/css?family=Oswald|Marck Script|Stint ultra condensed|Bebas Neue');

body { /* Background of webpage */
    background-image: url("Assets/background9.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color:rgb(202, 207, 212);
  }



img{ /* Fomatting image logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    margin-top: -3%;
    width: 100%;
    height: auto;

}
.Login_box { /*DesigninglLogin box */
    background-image: url("Assets/design.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 220px;
    width: 100%;
    height: auto;
    border: 10px inset rgb(161, 161, 152);
    text-align: center;
    display: block;
    padding-left: 6%; 
    padding-right: 6%;
    padding-bottom: 2%;
    position: absolute;
    bottom: 10%;
    left: 6%;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-size: 130%;
    color: rgb(214, 214, 196);
}


.Login_box label{ /* Styling box labels */
    border-style: none;
    border-radius: 5%;
    outline: none;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 110%;
    color: rgb(214, 214, 196);
}

.Login_box input{ /* Styling entry box */
    border-style: none;
    border-radius: 10%;
    outline: none;
    text-align: center;
    height: auto;
    font-size: 80%;
    font-family: "Sanchez", sans-serif;
    width: 100%;
    max-width: 220px;
}

.Login_box button{ /*Styling button*/
    border: 25% solid rgb(170, 165, 165);
    border-radius: 15%;
    outline: 5%;
    font-size: 90%;
    text-align: center;
    font-family:"Oswald", sans-serif;
    width: 100%;
    max-width: 130px;
}

.Login_box button:hover{ /* Changing appearance of button when hovered over */
    background-color: rgb(54, 48, 48);
    color: rgb(213, 236, 236);
}

#footer{ /* Styling Footor of page */
    border-style: none;
    outline: none;
    text-align: center;
    font-size: 130%;
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    bottom: .03%;
    left: 13%;
}

.ref::before{
    content: "Software";
    font-family: "Marck Script";
}


@media screen and (max-width: 1060px) {
    body {
        background-image: url("Assets/background9.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        background-color: black;
        color:rgb(202, 207, 212);
    }
    
    .Login_box {
        background-image: url("Assets/design.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 200px;
        width: 100%;
        height: auto;
        border: 10px inset rgb(161, 161, 152);
        text-align: center;
        display: block;
        padding-left: 6%; 
        padding-right: 6%;
        padding-bottom: 2%;
        position: absolute;
        bottom: 10%;
        left: 6%;
        font-weight: bold;
        font-family: "Oswald", sans-serif;
        font-size: 130%;
        color: rgb(214, 214, 196);
    }  

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 120px;
        margin-top: -3%;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .Login_box {
        background-image: url("Assets/design.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 100px;
        width: 100%;
        height: 45%;;
        border: 2px inset rgb(161, 161, 152);
        text-align: center;
        display: block;
        padding-left: 6%; 
        padding-right: 6%;
        padding-bottom: 2%;
        position: absolute;
        bottom: 10%;
        left: 6%;
        font-weight: bold;
        font-family: "Oswald", sans-serif;
        font-size: 130%;
        color: rgb(214, 214, 196);
    }  

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 180px;
        margin-top: -3%;
        width: 100%;
        height: auto;
    }
}